.container {
  height: 100vh;
  position: relative;
}

.calculate-form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  zoom: 200%;
}

#loading,
#result {
  display: none;
}

body {
    background-color: #aecaf3;
/*  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.pexels.com/photos/267885/pexels-photo-267885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
      no-repeat center center/cover;*/
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 15px 20px;
  width: 100%;
  background-color: #f3f3f3;
  border: none;
  position: relative;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 20px;
  background-size: 20px;
  background-position: right 10px center;
}

select::-ms-expand {
  display: none;
}

input[type="range"] {
  outline: none;
  padding: 0;
  width: 100%;
  height: 8px;
  background-color: #f5f5f5;
  border: none;
  background-image: -webkit-gradient(
    linear,
    50% 0%,
    50% 100%,
    color-stop(0%, #ffd34c),
    color-stop(100%, #ffd34c)
  );
  background-image: #ffd34c;
  background-image: #ffd34c;
  background-image: #ffd34c;
  background-image: #ffd34c;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  box-shadow: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-track {
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-moz-focus-outer {
  border: 0;
}

input[type="range"]::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  border: 2px #ff9742 solid;
  background: #ffa044;
  border-radius: 100%;
  box-shadow: 0 4px 9px rgba(255, 151, 66, 0.8);
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border: 0;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
}
